@import "../../../sass/_shadow";

.navbar{
	background-color: white;
	color: black;
	filter: $filter;
	height: 70px;
}

.navbar-container{
	width: 90%;
	margin: auto;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


.navbar-left{
	width: 29%;
	font-size: 40px;
	color: brown;

}

.navbar-right{
	width: 69%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-items{
	text-decoration: none;
	color: black;

}